* {
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

section {
  background-color: white;
  border-radius: 5px;
  padding: 10px 25px;
  width: 800px;
  margin-left: 25px;
}

.logo {
  width: 150px;
}
